
.part1{
 	width: 48%;
}
.sld{
	padding-top: 10px;
	padding-bottom: 15px;
}
.part3{
	background-color: gray;
}
h3{
	text-align: center;
	color: red;
}
.bod{
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #f5f5f5;
}
.display-4{
	text-align: center;
	color: blue;
}
.card-img-top{
	border-radius: 2%;
}
.card-title{
	text-align: center;
	color: brown;
}
.navbar{

}
h2{
	text-align: center;
	color: orange;
}
.abu{
	padding-top: 15px;
	padding-bottom: 10px;
}
.sp{
	padding-top: 15px;
}
.OA{
	padding-top: 25px;
	padding-bottom: 50px;
	background-color: #eeeeee;

}
h1{
	color: brown;
}
.Ds{
	padding-top: 20px;
	padding-bottom: 30px;
}
.r1{
	padding-top: 10px;
	padding-bottom: 5px;
}
.r2{
	padding-top: 10px;
	padding-bottom: 5px;
}
